<div class="row">
  <!-- tamagaatchi -->
  <div class="col-xs-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="panel-title">TamaGAtchi</span>
        <%= link_to "Reset", "/tamagatchis/reset/#{@tamagatchi.id}", class:"btn btn-default btn-sm right-align" %>
        <button type="button" class="btn btn-default btn-sm right-align"
            data-toggle="modal" data-target="#modal-edit">Edit</button>
        <%= link_to "Battle", "", class:"btn btn-default btn-sm right-align" %>
      </div>
      <div class="panel-body text-center">
        <div class="alert">
        <%
          if session[:meal]
        %>
        <%= session[:meal] %>
        <%
          end
        %>
        </div>
        <%= image_tag @tamagatchi.tamagatchi_rank.image, class:"img-responsive", id:"tamagatchi" %>
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">Name: <%= @tamagatchi.name %></li>
          <li class="list-group-item list-group-item">Level: <%= @tamagatchi.level %></li>
          <li class="list-group-item list-group-item">Rank: <%= @tamagatchi.rank %></li>
          <li class="list-group-item list-group-item">
          Last fed on: <%= @tamagatchi.last_fed_on.strftime("%-m/%-d/%y %l:%M %P") %></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- message board -->
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">Message Board</span>
        <button type="button" class="btn btn-default btn-sm right-align"
            data-toggle="modal" data-target="#modal-new">New Post</button>
      </div>
        <div class="panel-body">
        <ul class="list-group">
        <% @messages.limit(@limit).offset(@offset).each {|message| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-8">
                <%
                  if message.is_sticky
                %>
                 <span class="glyphicon glyphicon-star-empty"></span>
                <%
                  end
                %>
                <%
                  @comments = ""
                  message.comments.each do |comment|
                    @comments = @comments + "<hr width='100%'>#{comment.message.user.name} commented at #{comment.created_at.strftime('%-m/%-d/%y %l:%M %P')}<br />#{comment.body}<br />"
                  end
                  @comments = @comments + "<hr width='100%'>"
                %>
                <strong><%= link_to message.subject, "#modal-show",
                data: { toggle:"modal", subject:message.subject, body: message.body, mid:message.id, comments:@comments } %></strong><br />
                <%= message.body[0..29] %><%= "..." if message.body.length>30 %>
              </div>
              <div class="col-xs-4 post-right-col">
                <%= message.created_at.strftime("%-m/%-d/%y %l:%M %P") %><br />by
                <%= message.user.name %><br />
              </div>
          </li>
        <% } %>
        </ul>
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4 text-center">
            <% if @offset > 0 %>
              <%= link_to "Prev", tamagatchis_path(offset:"#{@offset-5}"), class:"text-left" %>
            <% end %>
            <% if @limit+@offset < Message.count %>
              <%= link_to "Next", tamagatchis_path(offset:"#{@offset+5}"), class:"text-right" %>
            <% end %>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal for new message -->
<% @message = Message.new %>
<%= form_for @message do |f| %>
<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Subject</label>
            <%= f.text_field :subject, class:"form-control" %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">
              Message (max 140 characters. Anything longer will be truncated)
            </label>
            <%= text_area_tag :body, "", class:"form-control" %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Sticky</label>
            <%= f.check_box :is_sticky, {}, true %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="actions inline-block"><%= f.submit "Post", class:"btn btn-success" %></div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- modal for showing existing message and adding comment -->
<% @message = Message.new %>
<%= form_for @message.comments.new do |f| %>
<div class="modal fade" id="modal-show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label"></label>
          </div>

          <div class="form-group">
            <label for="comment">Add a comment</label>
            <%= f.text_area :body, class:"form-control",id:"body" %>
          </div>
            <%= f.text_area :message_id, class:"form-control",id:"mid" %>
        </form>
      </div>

       <div class="modal-footer">
        <div class="actions inline-block"><%= f.submit "Post", class:"btn btn-success" %></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- modal for edit tamagatchi -->
<%= form_for @tamagatchi do |f| %>
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit Tamagatchi Profile</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Name</label>
            <%= f.text_field :name, class:"form-control", value:"#{@tamagatchi.name}" %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="actions inline-block"><%= f.submit "Save", class:"btn btn-success"%></div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- modal for edit profile -->
<% @user = current_user %>
<%= form_for @user do |f| %>
<div class="modal fade" id="modal-edit-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <form>
          <%= render 'shared/alert' %>
          <%= render 'shared/profile', f: f %>
        </form>
      </div>
      <div class="modal-footer">
        <div class="actions inline-block"><%= f.submit "Save", class:"btn btn-success" %></div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- modal for change password -->
<% @user = current_user %>
<%= form_for @user do |f| %>
<div class="modal fade" id="modal-change-pw" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <form>
          <%= render 'shared/alert' %>
          <%= render 'shared/password', f: f %>
        </form>
      </div>
      <div class="modal-footer">
        <div class="actions inline-block"><%= f.submit "Save", class:"btn btn-success" %></div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
      function getQueryVariable(variable)
      {
             var query = window.location.search.substring(1);
             var vars = query.split("&");
             for (var i=0;i<vars.length;i++) {
                     var pair = vars[i].split("=");
                     if(pair[0] == variable){return pair[1];}
             }
             return(false);
      }

    $(document).ready(function(){
      if (getQueryVariable("changepw") == "failed")
      {
          $("#modal-change-pw").modal('show');
      }

      if (getQueryVariable("editprofile") == "failed")
      {
          $("#modal-edit-profile").modal('show');
      }

    });
    $('#modal-show').on('show.bs.modal', function(e) {
      var bookId = $(e.relatedTarget).data('mid');

      //populate the textbox
//      $("#hidden").html(bookId);
    })
    $('#modal-show').on('hidden.bs.modal', function() {
    })

    $('#modal-edit-profile').on('hidden.bs.modal', function() {
      $(".alert").html('')
    })

    $('#modal-change-pw').on('hidden.bs.modal', function() {
      $(".alert").html('')
    })
</script>

<%= javascript_include_tag "messages" %>
<%= javascript_include_tag "comments" %>
