<p id="alert"><%= alert %></p>

<div class="row">
  <!-- tamagaatchi -->
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">TamaGAtchi</h3>
      </div>
      <div class="panel-body text-center">
        <%= image_tag "tamagatchi.png", class:"img-responsive", id:"tamagatchi" %>
      </div>
    </div>
  </div>
  <!-- message board -->
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">Message Board</span>
        <button type="button" class="btn btn-default btn-sm right-align" data-toggle="modal" data-target="#modal-new">New Post</button>
      </div>
        <div class="panel-body">
        <ul class="list-group">
        <% @messages.limit(5).each {|message| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-8">
                <strong><%= link_to message.subject, "#modal-show",  "data-toggle" => "modal", "data-subject" => message.subject, "data-body" => message.body %></strong><br />
                <%= message.body[0..29] %><%= "..." if message.body.length>30 %>
              </div>
              <div class="col-xs-4 post-right-col">
                <%= message.created_at.strftime("%-m/%-d/%y %l:%M %P") %><br />by
                <%= message.user.name %><br />
              </div>
          </li>
        <% } %>
        </ul>
        <% if @messages.count > 5 %>
          <%= link_to "Next" "" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- modal for new message -->
<% @message = Message.new %>
<%= form_for @message do |f| %>
<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Subject:</label>
            <%= f.text_field :subject, class:"form-control" %>
          </div>
          <div class="form-group" id="a-unique-id">
            <label for="message-text" class="control-label">Message:</label>
            <%= text_area_tag :body, "", class:"form-control" %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <div class="actions inline-block"><%= f.submit "Post", class:"btn btn-primary" %></div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- modal for showing existing message -->
<div class="modal fade" id="modal-show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Post #</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label"></label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$('#modal-show').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var subject = button.data('subject') // Extract info from data-* attributes
  var body = button.data('body')
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text(subject)
  modal.find('.control-label').text(body)
})
</script>
