<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">  <title>TamagatchiApp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<!--
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse rounded">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand tamagatchi" href="#">TamaGAtchi</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
<!--
        <li><%= link_to "Login", login_path %></li>
-->
        <li><%= link_to "Login", "/#modal-login", data: {toggle: "modal"} %></li>
      <% end %>
      <% if !current_user %>
        <li><%= link_to "Sign Up", "#modal-signup", data: {toggle: "modal"} %></li>
<!--
        <li><%= link_to "Sign up", new_user_path %></li>
-->
      <% end %>
      <% if current_user %>
<!--
        <li><%= link_to "Edit Profile", edit_user_path(current_user) %>
-->
        <li><%= link_to "Edit Profile", "/#modal-edit-profile", data: {toggle: "modal"} %></li>
<!--
        <li><%= link_to "Change Password", edit_user_path(current_user, :changepw => true) %>
-->
        <li><%= link_to "Change Password", "/#modal-change-pw", data: {toggle: "modal"} %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demo<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Too Soon", "/tamagatchis/toosoon/#{current_user.tamagatchi.id}" %></li>
            <li><%= link_to "Too Long", "/tamagatchis/toolong/#{current_user.tamagatchi.id}" %></li>
            <li><%= link_to "Just Right", "/tamagatchis/justright/#{current_user.tamagatchi.id}" %></li>
            <li><%= link_to "Clear Messages", "/messages/deleteall" %></li>
          </ul>
        </li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>


</body>
</html>
